@charset "Shift_JIS";

html{
	overflow-y: scroll;
}
body {
	background-color: #000000;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
body,td,th {
	font-family: ＭＳ Ｐゴシック, Osaka, ヒラギノ角ゴ Pro W3;
}
.cr {
	font-size: 10px;
	line-height: 12px;
	color: #666666;
}